USE [master]
GO
/****** Object:  Database [MobileSHOP]    Script Date: 3/13/2024 10:05:29 AM ******/
CREATE DATABASE [MobileSHOP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MobileSHOP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MobileSHOP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MobileSHOP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MobileSHOP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MobileSHOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MobileSHOP]
GO
/****** Object:  Table [dbo].[Mobiles]    Script Date: 3/13/2024 10:05:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mobiles](
	[mobileId] [varchar](10) NOT NULL,
	[description] [varchar](250) NULL,
	[price] [float] NOT NULL,
	[mobileName] [varchar](20) NOT NULL,
	[yearOfProduction] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[notSale] [bit] NOT NULL,
 CONSTRAINT [PK_Mobiles] PRIMARY KEY CLUSTERED 
(
	[mobileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/13/2024 10:05:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userId] [varchar](20) NOT NULL,
	[password] [int] NULL,
	[fullname] [varchar](50) NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Mobiles] ([mobileId], [description], [price], [mobileName], [yearOfProduction], [quantity], [notSale]) VALUES (N'IP12PRO', N'IP13Promax', 10000, N'eqwe', 10, 10, 0)
INSERT [dbo].[Mobiles] ([mobileId], [description], [price], [mobileName], [yearOfProduction], [quantity], [notSale]) VALUES (N'PRODCCC', N'IP13Promax', 123, N'eqwe', 12, 12, 0)
GO
INSERT [dbo].[Users] ([userId], [password], [fullname], [role]) VALUES (N'NewUser123', 12345, N'New User', 1)
INSERT [dbo].[Users] ([userId], [password], [fullname], [role]) VALUES (N'user', 123, N'a', 0)
INSERT [dbo].[Users] ([userId], [password], [fullname], [role]) VALUES (N'user2', 123, N'abc', 0)
GO
USE [master]
GO
